.Form {
    background-color: #f8fffe;
    width: 70%;
    height: 90%;
    margin: auto;
    margin-top: 1%;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgb(0 0 0 / 14%);
    text-align: center;
}

.FormRestore{
    background-color: #f8fffe;
    width: 40%;
    padding-bottom: 3%;
    margin: auto;
    margin-top: 1%;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgb(0 0 0 / 14%);
    text-align: center;
}


.sign {
    padding-top: 6%;
    padding-bottom: 6%;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.stare_haslo {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Ubuntu', sans-serif;
}

.nowe_haslo {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Ubuntu', sans-serif;
}

.powtorz_haslo {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 12%;
    font-family: 'Ubuntu', sans-serif;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgb(0 0 0 / 4%);
}

.RejError{
    color:red;
    text-align: center;
    margin-top: 5%;
}
