.PicUpload{
    display:block;
}

.PicManual{
    display:block;
}

.PicBrowse{
    display:block;
}

.PicSwipe{
    display:block;
}

.PicSwipeArea{
    display:block;
}

.PickSubmit{
    display:block;
}